/* GLOBAL */
    *,*:before,*:after {
        -ms-touch-action:none;
        -moz-user-select:none;
        -ms-user-select:none;
        -webkit-tap-highlight-color:transparent;
        -webkit-touch-callout:none;
        -webkit-user-select:none;
    }

    body,html {
        animation:fadeIn 0.5s ease-in;
            -webkit-animation:fadeIn 0.5s ease-in;
        background:url('../images/bg.jpg') center center no-repeat;
        background-size:cover;
        color:#FFF;
        font-family:'Bitter', 'serif';
        font-size:100%;
        height:100%;
        overflow:hidden;
    }
    a {color:#FFF;}
    p {margin:10px 0;}
    .capitalize {text-transform:capitalize;}

/* TITLES */
    .tt1 {
        font-size:2em;
    }
    .tt2 {
        font-size:1.3em;
    }

/* MENU */
    .menu li {
        padding:5px;
    }
    .menu li a {
        color:#FFF;
        padding:5px;
    }

/* MAIN CONTAINERS */
    .container {
        height:100%;
        position:relative;
        width:100%;
    }
    .content {
        height:100%;
    }
    .content:before, .content:after {
        content:"";
        display:inline-block;
        height:70%;
        vertical-align:middle;
    }

    #aside {
        animation:appearFromTop .8s ease-in;
            -webkit-animation:appearFromTop .8s ease-in;
        background:#000;
        display:inline-block;
        height:100%;
        opacity:0.5;
            -moz-opacity:0.5;
        vertical-align:middle;
        width:8%;
    }
    .sideContent {
        display:inline-block;
        height:100%;
        vertical-align:middle;
        width:92%;
    }

/* HEADERS */
    .header {
        height:10%;
        position:relative;
        text-align:center;
    }
    .header:before, .header:after {
        content:"";
        display:inline-block;
        height:1%;
        vertical-align:middle;
    }

/* FOOTER */
    #footer {
        animation:appearFromLeft .8s ease-in;
            -webkit-animation:appearFromLeft .8s ease-in;
        background:#000;
        bottom:10%;
        left:0;
        opacity:0.5;
            -moz-opacity:0.5;
        position:absolute;
        width:100%;
    }

/* SWIPER */
    #themes-swiper {
        height:100%;
        width:100%;
    }
    #themes-swiper .swiper-slide {
        height:100%;
        width:100%;
        perspective:500;
        transform:translate3d(0, 0, 45);
            -moz-transform:translate3d(0, 0, 45);
            -webkit-transform:translate3d(0, 0, 45);
        transition:all .25s ease-in;
            -moz-transition:all .25s ease-in;
            -webkit-transition:all .25s ease-in;
    }
    .capOne figcaption {
        background:#000;
        font-family:'Rock Salt', 'cursive';
        height:50px;
        line-height:50px;
        left:0;
        margin:-25px 0 0;
        opacity:0.5;
            -moz-opacity:0.5;
        position:absolute;
        top:50%;
        width:100%;
    }

/* ISOTOPE */
    .item-isotope {
        height:175px;
        overflow:hidden;
        width:175px;
    }
    .item-isotope figcaption {
        top:0;
        left:0;
        position:absolute;
        width:100%;
    }
    .item-isotope:hover figure img {
        transform:scale(1.4) rotate(-20deg);
            -webkit-transform:scale(1.4) rotate(-20deg);
        transition:all 2s ease-in;
            -webkit-transition:all .2s ease-in;
    }

/* DRAWINGS */
    .round {
        background:#FF0;
        border-radius:300px;
        display:inline-block;
        height:300px;
        vertical-align:middle;
        width:300px;
    }
    .round .row {
        display:inline-block;
        vertical-align:middle;
        transform:rotate(-20deg);
            -webkit-transform:rotate(-20deg);
    }
    .round:before, .round:after {
        content:"";
        display:inline-block;
        height:100%;
        vertical-align:middle;
    }

/* ANIMATION */
    @keyframes appearFromLeft {
        0% {
            transform:translate3d(-100%, 0, 0);
                -webkit-transform:translate3d(-100%, 0, 0);
        }
        100% {
            transform:translate3d(0, 0, 0);
                -webkit-transform:translate3d(0, 0, 0);
        }
    }
    @-webkit-keyframes appearFromLeft {
        0% {
            transform:translate3d(-100%, 0, 0);
                -webkit-transform:translate3d(-100%, 0, 0);
        }
        100% {
            transform:translate3d(0, 0, 0);
                -webkit-transform:translate3d(0, 0, 0);
        }
    }
    @keyframes appearFromTop {
        0% {
            transform:translate3d(0, -100%, 0);
                -webkit-transform:translate3d(0, -100%, 0);
        }
        100% {
            transform:translate3d(0, 0, 0);
                -webkit-transform:translate3d(0, 0, 0);
        }
    }
    @-webkit-keyframes appearFromTop {
        0% {
            transform:translate3d(0, -100%, 0);
                -webkit-transform:translate3d(0, -100%, 0);
        }
        100% {
            transform:translate3d(0, 0, 0);
                -webkit-transform:translate3d(0, 0, 0);
        }
    }
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    @-webkit-keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    @keyframes spin {
        0% {
            left:0;
            transform:rotate(0deg);
        }
        25% {
            left:10%;
            transform:rotate(90deg);
        }
        50% {
            left:20%;
            transform:rotate(180deg);
        }
        75% {
            left:30%;
            transform:rotate(270deg);
        }
        100% {
            left:40%;
            transform:rotate(380deg);
        }
    }
    @-webkit-keyframes spin {
        0% {
            left:0;
            transform:rotate(0deg);
        }
        25% {
            left:10%;
            transform:rotate(90deg);
        }
        50% {
            left:20%;
            transform:rotate(180deg);
        }
        75% {
            left:30%;
            transform:rotate(270deg);
        }
        100% {
            left:40%;
            transform:rotate(380deg);
        }
    }
    @keyframes busted {
        0% {
            transform:scale(1) rotate(0deg);
                -webkit-transform:scale(1) rotate(0deg);
        }
        100% {
        }
    }
    @-webkit-keyframes busted {
        0% {
            transform:scale(1) rotate(0deg);
                -webkit-transform:scale(1) rotate(0deg);
        }
        100% {
            transform:scale(1.4) rotate(-20deg);
                -webkit-transform:scale(1.4) rotate(-20deg);
        }
    }