<aside id="aside">
    <nav id="nav" ng-controller="NavCtrl">
        <ul class="menu txtCenter">
            <li ng-repeat="section in sections" class="iBlock vMid">
                <figure>
                    <a href="#{{ section.href }}"><img src="images/icon-{{ section.href }}.png"></a>
                    <figcaption>
                        <a class="row full" href="#{{ section.href }}">{{ section.title }}</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </nav>
</aside><!--
--><section class="sideContent" ng-controller="QuizzesCtrl">
    <header class="header">
        <h1 class="tt1">{{ theme }}</h1>
    </header>
    <ul class="quizzes">
        <li ng-repeat="quizz in quizzes" class="item-isotope">
            <figure class="rel">
                <a href="#quizz/{{ theme }}/{{ quizz.name }}" class="row full">
                    <img src="{{ quizz.img }}" alt="">
                </a>
                <figcaption class="row full">
                    <a href="#quizz/{{ theme }}/{{ quizz.name }}" class="row full txtCenter"><span>{{ quizz.title }}</span></a>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>