<header class="header">
    <nav id="nav" ng-controller="NavCtrl">
        <ul class="menu">
            <li ng-repeat="section in sections" class="iBlock vMid">
                <a href="#{{ section.href }}">{{ section.title }}</a>
            </li>
        </ul>
    </nav>
</header>

<section ng-controller="QuizzesCtrl">
    <h1 class="tt1">{{ theme }}</h1>
    <ul class="quizzes">
        <li ng-repeat="quizz in quizzes" class="iBlock vMid">
            <a href="#quizz/{{ quizz.name }}">{{ quizz.title }}</a>
        </li>
    </ul>
</section>