<aside id="aside">
    <nav id="nav" ng-controller="NavCtrl">
        <ul class="menu txtCenter">
            <li ng-repeat="section in sections" class="iBlock vMid">
                <figure>
                    <a href="#{{ section.href }}"><img src="images/icon-{{ section.href }}.png"></a>
                    <figcaption>
                        <a class="row full" href="#{{ section.href }}">{{ section.title }}</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </nav>
</aside><!--
--><section ng-controller="ThemesCtrl" class="sideContent">
    <div id="themes-swiper" class="swiper-container">
        <ul class="themes swiper-wrapper">
            <li ng-repeat="theme in themes" class="swiper-slide capOne">
                <figure>
                    <a href="#theme/{{ theme.name }}" class="row full">
                        <img src="resources/img/{{ theme.name }}.jpg" class="row full" alt="">
                    </a>
                    <figcaption>
                        <a href="#theme/{{ theme.name }}" class="row full txtCenter">
                            <span class="tt1">{{ theme.title }}</span>
                        </a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>