<header class="header">
    <nav id="nav" ng-controller="NavCtrl">
        <ul class="menu">
            <li ng-repeat="section in sections" class="iBlock vMid">
                <a href="#/theme/{{ section.href }}">{{ section.title }}</a>
            </li>
        </ul>
    </nav>
</header>

<section ng-controller="ThemesCtrl">
    <h1 class="tt1">Thèmes disponibles !</h1>
    <div id="themes-swiper" class="swiper-container">
        <ul class="themes swiper-wrapper">
            <li ng-repeat="theme in themes" class="swiper-slide">
                <figure>
                    <a href="#theme/{{ theme.name }}" class="row full">
                        <img src="images/default.gif" class="row full" alt="">
                    </a>
                    <figcaption>
                        <a href="#theme/{{ theme.name }}" class="row full txtCenter">
                            <span class="tt2">{{ theme.title }}</span>
                        </a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>